.search {
    width: 600px;
    height: 40px;
    display: block;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.center {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#topbar a:link, #topbar a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#topbar a:hover, #topbar a:active {
    text-decoration: none;
}

}
#topbar {
    width: 100%;
    font-size: 13px;
    font-family: arial, sans-serif;
}
#TL_links {
    float: none;
    margin: 20px 0px 0px 20px;
}
#TL_links .abt {
    margin: 0px 15px 0px 0px;
}
#TR_links {
    float: right;
    margin: 0px 20px 0px 0px;
    
}
#TR_links .mail {
    margin: 0px 15px 0px 0px;
}
#botbar {
    width: 100%;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
#botbar a:link, #botbar a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#botbar a:hover, #botbar a:active {
    text-decoration: none;