.search {
    width: 600px;
    height: 40px;
    display: block;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.center {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#topbar a:link, #topbar a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#topbar a:hover, #topbar a:active {
    text-decoration: underline;
}

#topbar {
    width: 100%;
    font-size: 13px;
    font-family: arial, sans-serif;
}
#TL_links {
    float: none;
    margin: 20px 0px 0px 20px;
}
#TL_links .abt {
    margin: 0px 15px 0px 0px;
}
#TR_links {
    float: right;
    margin: 0px 20px 0px 0px;
    
}
#TR_links .mail {
    margin: 0px 15px 0px 0px;
}
#botbar {
    width: 100%;
    font-size: 13px;
    font-family: arial, sans-serif;
}

#botbar a:link, #botbar a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#botbar a:hover, #botbar a:active {
    text-decoration: underline;
}

#botbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8;
    position: fixed; left: 0px;
    bottom: 0;
    width: 100%;
}
li.BL {
    float: left;
}
li.BR {
    float: right;
}
.Br {
    margin: 0 3px
}
li a {
    display: block;
    padding: 8px;
    background-color: #f2f2f2;
    margin: 5px 5px 5px 5px;
    font-size: small;
}

